<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Super-User Dashboard</title>

    <!-- Javascript linking hmtl page to AJAX api -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <!-- Defines Javascript function which links the 'mybutton' click in the html to the flask '/SomeFunction' route -->
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script>
    
  </head>
  <body>
    <h1>
        Super-User Dashboard
    </h1>
    <p>
      Click this button to move the file from limbo folder to confirmed folder!
      <input type = "button" id = "mybutton" value = "Move file" />
    </p>


      List of the limbo files: 

      <div>
        {% for elem in limbo_list %}
    
            {{ elem }} <br>
    
        {% endfor %}
    </div>

    List of confirmed files:

    <div>
      {% for elem in confirmed_list %}
  
          {{ elem }} <br>
  
      {% endfor %}
  </div>    
  </body>
</html>