{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Register</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/register">

            <div class="field">
                <div class="control">
                    <label for="forename">Full Name</label>
                    <input class="input is-large" type="text" name="name" id="name" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="org">Organisation</label>
                    <input class="input is-large" type="text" name="org" id="org" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="user_type">Type of User</label>
                    <select class="input is-large" name="user_type" id="user_type" required>
                        <option>Academic</option>
                        <option>Industry</option>
                        <option>Council</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="email">Email</label>
                    <input class="input is-large" type="email" name="email" id="email" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="password">Password</label>
                    <button id="toggle-password" type="button" aria-label="Show password as plain text. Warning: this will display your password on the screen.">Show password</button>
                    <input class="input is-large" type="password" id="password" name="password" autocomplete="new-password" required>
                    <meter max="4" id="password-strength-meter"></meter>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Register</button>
        </form>
    </div>
</div>
{% endblock %}