<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Super-User Dashboard</title>

    <!-- Link to AJAX api -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    
  </head>
  <body>
    <h3 class="title">
        Super-User Dashboard
    </h3>
    <p>
      Click this button to move the file from limbo folder to confirmed folder!
      <input type = "button" id = "mybutton" value = "Move file" />
    </p>
    <p>Limbo Files:</p>
    <div id="place_for_limbo_files"></div> 
    
    <p>Confirmed Files:</p>
    <div id="place_for_confirmed_files"></div> 

<!-- Load lists of files on page load -->
<script>
  $.ajax({                        
      url: '/showfiles',
      type : 'post',
      contentType: 'application/json',
      dataType : 'json',
  }).done(function(result) {
      $("#place_for_limbo_files").html(result["limbo"]); 
      $("#place_for_confirmed_files").html(result["confirmed"]);// this calls the
  }).fail(function(jqXHR, textStatus, errorThrown) {
      console.log("fail: ",textStatus, errorThrown);
  });
</script>

<!-- Move file on click and re-render the lists of files -->
<script>
  $("#mybutton").click(function(){
    $.ajax({                        
        url: '/movefile',
        type : 'post',
        contentType: 'application/json',
        dataType : 'json',
    }).done(function(result) {
        $("#place_for_limbo_files").html(result["limbo"]); 
        $("#place_for_confirmed_files").html(result["confirmed"]); // this calls the result of the movefile function
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log("fail: ",textStatus, errorThrown);
    }); 
  });
</script>
    
    
  </body>
</html>